@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}

@keyframes slide-in {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  95% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  95% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes reveal-info {
  0% {
    height: 0;
  }
  5% {
    height: 350px;
  }
  95% {
    height: 350px;
  }
  100% {
    height: 0;
  }
}

@keyframes reveal-info {
  0% {
    height: 0;
  }
  5% {
    height: 350px;
  }
  95% {
    height: 350px;
  }
  100% {
    height: 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 700px;
  background-color: #df933c;
  font-size: 14px;
  font-family: "Montserrat", sans;
}

.container .container-inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  animation: fade-in 1.5s ease, slide-in 1.2s ease;
  -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
}

.container .container-inner .main-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container-inner .main-content .main-headings {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  animation: scaleDown 6s ease 2s;
  -webkit-animation: scaleDown 6s ease 2s;
}

.container .container-inner .main-content .main-headings #by-line {
  width: 60%;
  padding-bottom: 1px;
  padding-left: 3px;
  margin-left: 15px;
  font-size: 85%;
  border-bottom: 1px solid #757575;
  font-style: italic;
}

.container .container-inner .main-content .main-headings .heading {
  margin-top: 20px;
  margin-left: 80px;
}

.container .container-inner .main-content .main-headings .heading #heading1, .container .container-inner .main-content .main-headings .heading #heading2, .container .container-inner .main-content .main-headings .heading #heading3 {
  margin: 0;
  margin-top: -20px;
}

.container .container-inner .main-content .main-headings .heading #heading1, .container .container-inner .main-content .main-headings .heading #heading2 {
  font-size: 500%;
  font-weight: normal;
  letter-spacing: -2px;
}

.container .container-inner .main-content .main-headings .heading #heading1 {
  margin-left: 50px;
}

.container .container-inner .main-content .main-headings .heading #heading2 {
  margin-left: 150px;
}

.container .container-inner .main-content .main-headings .heading #heading3 {
  margin-top: -52px;
  font-size: 1100%;
  font-weight: 800;
  letter-spacing: 2px;
}

.container .container-inner .main-content .main-headings .short-bio {
  width: 60%;
  margin-top: -30px;
  margin-left: 90px;
  font-style: italic;
  font-size: 105%;
}

.container .container-inner .main-content .main-headings a {
  margin-left: 92px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: bold;
  font-size: 120%;
  font-family: helvetica;
  text-decoration: none;
  color: black;
}

.container .container-inner .main-content .main-headings a:hover {
  text-decoration: underline;
}

.container .container-inner .main-content .more-info {
  margin-top: -70px;
  width: 50%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  overflow: hidden;
  animation: reveal-info 4s ease 3s;
  -webkit-animation: reveal-info 4s ease 3s;
}

.container .container-inner .image-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.container .container-inner .image-wrapper .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  animation: scaleDown 6s ease 2s;
  -webkit-animation: scaleDown 6s ease 2s;
}

.container .container-inner .image-wrapper .image-container img {
  width: 100%;
  height: auto;
  position: relative;
}

@media (min-width: 350px) and (max-width: 529px) {
  * {
    -webkit-animation-name: none !important;
            animation-name: none !important;
  }
  .container {
    width: 90%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 5px;
    margin-bottom: 20px;
  }
  .container-inner {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .main-content, .image-wrapper {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .main-content {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
    outline: 1px solid red;
    margin: 0 50px;
  }
  .image-wrapper {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  .heading {
    margin-left: 55px !important;
  }
  #heading1, #heading2 {
    margin: 0;
    margin-top: -5px !important;
  }
  #heading2 {
    margin-left: 100px !important;
  }
  #heading3 {
    margin-top: -20px !important;
  }
  .short-bio {
    margin-top: -10px !important;
    margin-left: 60px !important;
  }
  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    font-size: 8px;
  }
  .link {
    display: none;
  }
  .image-wrapper {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    width: 100%;
    height: 100px !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .image-container {
    width: 100% !important;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 530px) and (max-width: 699px) {
  * {
    -webkit-animation-name: none !important;
            animation-name: none !important;
  }
  .container {
    width: 90%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 8px;
  }
  .container-inner {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .main-content, .image-wrapper {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .main-content {
    width: 80%;
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
  }
  .main-headings {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .heading {
    margin-left: 55px !important;
  }
  #heading1, #heading2 {
    margin: 0;
    margin-top: -15px !important;
  }
  #heading3 {
    margin-top: -30px !important;
  }
  .short-bio {
    margin-top: -20px !important;
    margin-left: 60px !important;
  }
  .link {
    display: none;
  }
  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    text-align: justify;
  }
  .image-wrapper {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    width: 100%;
    height: 400px;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .image-container {
    width: 100% !important;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*

@include tablet {
  .container {
    width: 100%;
    height: auto;
    font-size: 7px;
  }
  #heading3 {
    margin-top: -35px !important;
  }
  .link {
    margin-left: 30px;
  }
  .more-info {
    margin-top: -40px !important;
  }
}
*/
@media (min-width: 700px) and (max-width: 1200px) {
  .container {
    width: 100%;
    height: auto;
    font-size: 9px;
  }
  #heading3 {
    margin-top: -35px !important;
  }
  .link {
    margin-left: 30px;
  }
  .more-info {
    margin-top: -40px !important;
  }
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://i.imgur.com/sMv2M9P.jpg");
  background-size: cover;
  font-family: "montserrat";
  z-index: 2;
}

body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

h2.info {
  position: absolute;
  font-size: 4.5vw;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.nav-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  z-index: 12;
}

.nav-button.close .line__1 {
  -webkit-transform: rotate(45deg) translate(2px, -3px);
          transform: rotate(45deg) translate(2px, -3px);
}

.nav-button.close .line__2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-button.close .line__3 {
  -webkit-transform: rotate(45deg) translate(-2px, 3px);
          transform: rotate(45deg) translate(-2px, 3px);
}

.nav-button .line {
  width: 25px;
  background: #fff;
  height: 2px;
  margin: 3px 0;
  -webkit-transition: all 350ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: all 350ms cubic-bezier(0.9, 0, 0.33, 1);
}

.nav-button .line__1 {
  width: 25px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-button .line__2 {
  width: 25px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav-button .line__3 {
  width: 25px;
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

nav ul {
  position: relative;
  height: 600px;
  width: 300px;
}

nav ul li {
  position: absolute;
  width: 100%;
  list-style: none;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 10;
}

nav ul li:nth-child(1) {
  top: 20%;
}

nav ul li:nth-child(2) {
  top: 40%;
}

nav ul li:nth-child(3) {
  top: 60%;
}

nav ul li:nth-child(4) {
  top: 80%;
}

nav ul li a {
  position: relative;
  font-size: 2.8rem;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
}

nav ul li a::after {
  position: absolute;
  content: attr(data-text);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: #fff;
  -webkit-clip-path: polygon(100% 100%, 100% 0px, 100% 100%, 0% 100%);
          clip-path: polygon(100% 100%, 100% 0px, 100% 100%, 0% 100%);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  pointer-events: none;
}

nav ul li a:hover::after {
  -webkit-clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 0% 100%);
}

nav .nav__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.85);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  z-index: 10;
}

.support {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 8;
}

.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.support a:hover {
  color: rgba(255, 255, 255, 0.35);
}
/*# sourceMappingURL=about.css.map */