@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

//Variables
$mobile-breakpoint: 350px;
$large-mobile-breakpoint: 530px;
$tablet-breakpoint: 700px;
$desktop-breakpoint: 1200px;


//Mixins 
//Centering Mixins
@mixin horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


//Media Query mixins
@mixin mobile {
  @media (min-width: #{$mobile-breakpoint}) and (max-width: #{$large-mobile-breakpoint - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$large-mobile-breakpoint}) and (max-width: #{$tablet-breakpoint - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-breakpoint}) and (max-width: #{$desktop-breakpoint}) {
    @content;
  }
}

//Animations
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
   0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}

@keyframes scaleDown {
    0% {
    transform: scale(1);
  }
   10% {
    transform: scale(0.7);
  }
   95% {
    transform: scale(0.7);
  }
   100% {
    transform: scale(1);
  }
}

@keyframes reveal-info {
  0% {
    height: 0;
  }
  5% {
    height: 350px;
  }
  95% {
    height: 350px;
  }
  100% {
    height: 0;
  }
}

//Body 

body {
  margin: 0;
  padding: 0;
}


.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 700px;
  background-color:#df933c ;
  font-size: 14px;
  font-family: "Montserrat", sans;
  .container-inner { 
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   position: relative;
   animation: fade-in 1.5s ease, slide-in 1.2s ease;
   -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
    .main-content {
      flex-basis: 50%;
      order: 1;
      align-self: center;
      display: flex;
      flex-direction: column;
      .main-headings { 
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        animation: scaleDown 6s ease 2s;
       -webkit-animation: scaleDown 6s ease 2s;
        #by-line {
          width: 60%;
          padding-bottom: 1px;     
          padding-left: 3px;
          margin-left: 15px;
          font-size: 85%;
          border-bottom: 1px solid #757575;             
          font-style: italic;
        }
        .heading {
         // align-self: flex-end;
           margin-top: 20px;
           margin-left: 80px;
          #heading1, #heading2, #heading3 {
            margin: 0;
            margin-top: -20px;
          }
          #heading1, #heading2 {
            font-size: 500%;
            font-weight:normal;
            letter-spacing: -2px;
          }
          #heading1 {
            margin-left: 50px;
            }
          #heading2 {
            margin-left: 150px;
          }
          #heading3 {
            margin-top: -52px;
            font-size: 1100%;
            font-weight: 800;
            letter-spacing: 2px;
            }
        }
        .short-bio {
          width: 60%;
          margin-top: -30px;
          margin-left: 90px;
          font-style: italic;
          font-size: 105%;
        }
        a {
         // width: 72%;
          margin-left: 92px;
         // margin-right: auto;
          align-self: flex-start;
          font-weight: bold;
          font-size: 120%;
          font-family: helvetica;
          text-decoration: none;
          color: black;
          &:hover {
            text-decoration: underline;
          }
        }  
      }  
       .more-info {
          margin-top: -70px;
          width: 50%;
          height: 0;
          margin-left: auto;
          margin-right: auto; 
          align-self: flex-start;
          overflow: hidden;
          animation: reveal-info 4s ease 3s;
         -webkit-animation: reveal-info 4s ease 3s;
       }
    }
    .image-wrapper {
      flex-basis: 50%; 
      order: 2;
      //background-color was #8D6E63
      .image-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: scaleDown 6s ease 2s ;
       -webkit-animation: scaleDown 6s ease 2s;
        img {
          width: 100%;
          height: auto;
          position: relative;
         }
        }
      }     
   }
}



//Media Query for mobile devices 
@include mobile {
   * {
    animation-name: none !important;
  }
  .container {
    width: 90%;
    height: 700px;
    @include horizontal-center;
    font-size: 5px;
    margin-bottom: 20px;
  }
  .container-inner {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .main-content, .image-wrapper {
    flex-basis: 100% !important;
  }
  .main-content {
    order: 2 !important;
    outline: 1px solid red;
    margin: 0 50px;
  }
  .image-wrapper {
    order: 1 !important;
  }
  .heading {
    margin-left: 55px !important;
  }
  #heading1, #heading2 {
   margin: 0;
   margin-top: -5px !important;
    }
  #heading2 {
    margin-left: 100px !important;
  }
  #heading3 {
    margin-top: -20px !important;
  }
  .short-bio {
    margin-top: -10px !important;
    margin-left: 60px !important;
  }
   .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    //text-align: justify;
    font-size: 8px;
  }
  .link {
    display: none;
  }
  .image-wrapper {
    order: 1 !important;    
    width: 100%;
    height: 100px !important;
    justify-content: center !important;
  }
  .image-container {
    width: 100% !important;
    height: 400px;    
    @include horizontal-center;
    @include vertical-center;
  }
  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    @include horizontal-center;
  }
}


//Media Query for tablet devices 

@include tablet {
  * {
    animation-name: none !important;
  }
  .container {
    width: 90%;
    height: 900px;
    @include horizontal-center;
    font-size: 8px;
  }
  .container-inner {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .main-content, .image-wrapper {
    flex-basis: 100% !important;
  }
  .main-content {    
    width: 80%;
    order: 2 !important;    
    align-self: center !important;
  }
  .main-headings {
    width: 100%;
    margin-top: 20px; 
    @include horizontal-center;
  }  
  .heading {
    margin-left: 55px !important;
  }
  #heading1, #heading2 {
    margin: 0;
    margin-top: -15px !important;
    }
  #heading3 {
    margin-top: -30px !important;
  }
  .short-bio {
    margin-top: -20px !important;
    margin-left: 60px !important;
  }
  .link {
    display: none;
  }
  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    text-align: justify;
  }
  .image-wrapper {
    order: 1 !important;    
    width: 100%;
    height: 400px;
    justify-content: center !important;
  }
  .image-container {
    width: 100% !important;
    height: 400px;    
    @include horizontal-center;
  }
  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    @include horizontal-center;
  }
}

/*

@include tablet {
  .container {
    width: 100%;
    height: auto;
    font-size: 7px;
  }
  #heading3 {
    margin-top: -35px !important;
  }
  .link {
    margin-left: 30px;
  }
  .more-info {
    margin-top: -40px !important;
  }
}
*/
//Media query for desktop devices 

@include desktop {
  .container {
    width: 100%;
    height: auto;
    font-size: 9px;
  }
  #heading3 {
    margin-top: -35px !important;
  }
  .link {
    margin-left: 30px;
  }
  .more-info {
    margin-top: -40px !important;
  }
}



//選單特效
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url("https://i.imgur.com/sMv2M9P.jpg");
	background-size: cover;
	font-family: "montserrat";
	z-index: 2;
	&::after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.3);
	}
}

a {
	text-decoration: none;
	text-transform: uppercase;
	user-select: none;
}

button {
	background: none;
	border: none;
	&:focus {
		outline: none;
	}
}

h2.info {
	position: absolute;
	font-size: 4.5vw;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.75);
	pointer-events: none;
	user-select: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.nav-button {
	$width: 25px;
	$transition-time: 350ms;
	position: absolute;
	top: 20px;
	right: 20px;
	width: #{$width + 10px};
	height: #{$width + 10px};
	@include flex-center();
	flex-direction: column;
	cursor: pointer;
	z-index: 12;
	&.close {
		.line {
			&__1 {
				transform: rotate(45deg) translate(2px, -3px);
			}
			&__2 {
				transform: rotate(-45deg);
			}
			&__3 {
				transform: rotate(45deg) translate(-2px, 3px);
			}
		}
	}
	.line {
		width: $width;
		background: #fff;
		height: 2px;
		margin: 3px 0;
		transition: all $transition-time cubic-bezier(0.9, 0, 0.33, 1);
		&__1 {
			width: $width;
			transform-origin: left;
		}
		&__2 {
			width: $width;
			transform-origin: center;
		}
		&__3 {
			width: $width;
			transform-origin: right;
		}
	}
}

nav {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	@include flex-center();
	z-index: 10;
	ul {
		position: relative;
		height: 600px;
		width: 300px;
		li {
			position: absolute;
			width: 100%;
			list-style: none;
			text-align: center;
			left: 50%;
			transform: translate(-50%, -50%);
			overflow: hidden;
			z-index: 10;
			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					top: #{$i * 20%};
				}
			}
			a {
				position: relative;
				font-size: 2.8rem;
				-webkit-text-stroke: 2px #fff;
				color: transparent;
				font-weight: bold;
				letter-spacing: 2px;
				opacity: 0;
				&::after {
					position: absolute;
					content: attr(data-text);
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					color: #fff;
					// clip-path: polygon(0% 0, 0% 0px, -25% 100%, 0% 100%);
					clip-path: polygon(100% 100%, 100% 0px, 100% 100%, 0% 100%);
					transition: all 250ms ease;
					pointer-events: none;
				}
				&:hover {
					&::after {
						// clip-path: polygon(0% 0, 125% 0px, 100% 100%, 0% 100%);
						clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 0% 100%);
					}
				}
			}
		}
	}

	.nav__background {
        position: absolute;
        top:0;
		width: 100%;
		height: 100%;
		background: rgba(34, 34, 34, 0.85);
		backdrop-filter: blur(5px);
		transform: scaleY(0);
		z-index: 10;
	}
}

.support{
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: flex;
	z-index: 8;
	a{
		margin: 0 10px;
		color: #fff;
		font-size: 2rem;
		transition: all 400ms ease;
		&:hover{
			color: rgba(255, 255, 255, 0.35);
		}
	}

}
