html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.imgur.com/sMv2M9P.jpg);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 20px 0 80px;
}

.card {
  width: 300px;
  margin: 40px;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card:hover .card__caption {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card:hover .card__image {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card:hover .card__thumb::after {
  top: 0;
}

.card:hover .card__snippet {
  margin: 20px 0;
}

.card__thumb {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 1024px) {
  .card__thumb::after {
    top: calc(100% - 140px);
  }
}

.card__image {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.card__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 1024px) {
  .card__caption {
    top: calc(100% - 110px);
    -webkit-transform: unset;
            transform: unset;
  }
}

.card__title {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  line-height: 28px;
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card__snippet {
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media (min-width: 1024px) {
  .card__snippet {
    margin: 60px 0;
  }
}

.card__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.card__button:hover {
  color: black;
  background-color: white;
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
}

.disclaimer__link {
  color: #755D87;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://i.imgur.com/sMv2M9P.jpg");
  background-size: cover;
  font-family: "montserrat";
  z-index: 2;
}

body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

h2.info {
  position: absolute;
  font-size: 4.5vw;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.nav-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  z-index: 12;
}

.nav-button.close .line__1 {
  -webkit-transform: rotate(45deg) translate(2px, -3px);
          transform: rotate(45deg) translate(2px, -3px);
}

.nav-button.close .line__2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-button.close .line__3 {
  -webkit-transform: rotate(45deg) translate(-2px, 3px);
          transform: rotate(45deg) translate(-2px, 3px);
}

.nav-button .line {
  width: 25px;
  background: #fff;
  height: 2px;
  margin: 3px 0;
  -webkit-transition: all 350ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: all 350ms cubic-bezier(0.9, 0, 0.33, 1);
}

.nav-button .line__1 {
  width: 25px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-button .line__2 {
  width: 25px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav-button .line__3 {
  width: 25px;
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

nav ul {
  position: relative;
  height: 600px;
  width: 300px;
}

nav ul li {
  position: absolute;
  width: 100%;
  list-style: none;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 10;
}

nav ul li:nth-child(1) {
  top: 20%;
}

nav ul li:nth-child(2) {
  top: 40%;
}

nav ul li:nth-child(3) {
  top: 60%;
}

nav ul li:nth-child(4) {
  top: 80%;
}

nav ul li a {
  position: relative;
  font-size: 2.8rem;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
}

nav ul li a::after {
  position: absolute;
  content: attr(data-text);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: #fff;
  -webkit-clip-path: polygon(100% 100%, 100% 0px, 100% 100%, 0% 100%);
          clip-path: polygon(100% 100%, 100% 0px, 100% 100%, 0% 100%);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  pointer-events: none;
}

nav ul li a:hover::after {
  -webkit-clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 0% 100%);
}

nav .nav__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.85);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  z-index: 10;
}

.support {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 8;
}

.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.support a:hover {
  color: rgba(255, 255, 255, 0.35);
}
/*# sourceMappingURL=project.css.map */