


//選單特效
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url("https://i.imgur.com/sMv2M9P.jpg");
	background-size: cover;
	font-family: "montserrat";
	z-index: 2;
	&::after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.3);
	}
}

a {
	text-decoration: none;
	text-transform: uppercase;
	user-select: none;
}

button {
	background: none;
	border: none;
	&:focus {
		outline: none;
	}
}

h2.info {
	position: absolute;
	font-size: 4.5vw;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.75);
	pointer-events: none;
	user-select: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.nav-button {
	$width: 25px;
	$transition-time: 350ms;
	position: absolute;
	top: 20px;
	right: 20px;
	width: #{$width + 10px};
	height: #{$width + 10px};
	@include flex-center();
	flex-direction: column;
	cursor: pointer;
	z-index: 12;
	&.close {
		.line {
			&__1 {
				transform: rotate(45deg) translate(2px, -3px);
			}
			&__2 {
				transform: rotate(-45deg);
			}
			&__3 {
				transform: rotate(45deg) translate(-2px, 3px);
			}
		}
	}
	.line {
		width: $width;
		height: 2px;
		margin: 3px 0;
		transition: all $transition-time cubic-bezier(0.9, 0, 0.33, 1);
		&__1 {
			width: $width;
			transform-origin: left;
		}
		&__2 {
			width: $width;
			transform-origin: center;
		}
		&__3 {
			width: $width;
			transform-origin: right;
		}
	}
}

nav {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	@include flex-center();
	z-index: 10;
	ul {
		position: relative;
		height: 600px;
		width: 300px;
		li {
			position: absolute;
			width: 100%;
			list-style: none;
			text-align: center;
			left: 50%;
			transform: translate(-50%, -50%);
			overflow: hidden;
			z-index: 10;
			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					top: #{$i * 20%};
				}
			}
			a {
				position: relative;
				font-size: 2.8rem;
				-webkit-text-stroke: 2px #fff;
				color: transparent;
				font-weight: bold;
				letter-spacing: 2px;
				opacity: 0;
				&::after {
					position: absolute;
					content: attr(data-text);
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					color: #fff;
					// clip-path: polygon(0% 0, 0% 0px, -25% 100%, 0% 100%);
					clip-path: polygon(100% 100%, 100% 0px, 100% 100%, 0% 100%);
					transition: all 250ms ease;
					pointer-events: none;
				}
				&:hover {
					&::after {
						// clip-path: polygon(0% 0, 125% 0px, 100% 100%, 0% 100%);
						clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 0% 100%);
					}
				}
			}
		}
	}

	.nav__background {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(34, 34, 34, 0.85);
		backdrop-filter: blur(5px);
		transform: scaleY(0);
		z-index: 10;
	}
}

.support{
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: flex;
	z-index: 8;
	a{
		margin: 0 10px;
		color: #fff;
		font-size: 2rem;
		transition: all 400ms ease;
		&:hover{
			color: rgba(255, 255, 255, 0.35);
		}
	}

}